{% extends 'templates/base.html' %}
{% load static %}

{% block title %}
<title>LearningQuest</title>
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index_stylesheet.css' %}">
{% endblock css %}

{% block content %}

<div class="header"></div>

<div class="container">
    <h2 class="title">Learning Quest</h2>
    <div class="menu">
        <div>
            <a href="{% url 'signup' %}">学習の書を作成する</a>
        </div>
        <div>
            <a href="{% url 'login' %}">学習を再開する</a>
        </div>
    </div>
</div>

<div class="footer"></div>

{% endblock content%}



