{% extends 'templates/base.html' %}
{% load static %}

{% block title %}
<title>ログイン</title>
{% endblock title %}

{% block content %}

<div class="header"></div>

<div class="container">
    <form method="POST">{% csrf_token %}
        <div class="input-form">
            <label for="username">おなまえ :</label>
            <input type="text" name="username" required="required" placeholder="ユーザー名" id="username">
        </div>
        <div class="input-form">
            <label for="password">あいことば :</label>
        <input type="text" name="password" required="required" placeholder="パスワード" id="password">
        </div>
        <div class="login-button">
            <input type="submit" class="button" value="冒険の書を読み込む">
        </div>
    </form>
</div>

<div class="footer">
    <p><a href="{% url 'reset' %}">自分のことが思い出せないのか？</a></p>
    <p><a href="{% url 'signup' %}">冒険は初めてか？</a></p>
</div>
{% endblock content%}