<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ログイン</title>
</head>
<body>
    <div class="main">
        <form method="POST">{% csrf_token %}
            <div class="input-form">
                <label for="username">おなまえ :</label>
                <input type="text" name="username" required="required" placeholder="ユーザー名" id="username">
            </div>
            <div class="input-form">
                <label for="password">あいことば :</label>
                <input type="text" name="password" required="required" placeholder="パスワード" id="password">
            </div>
            <div class="login-button">
                <input type="submit" class="button" value="冒険の書を読み込む">
            </div>
        </form>
    </div>
    <div class="footer">
        <p><a href="{% url 'signup' %}">冒険は初めてか？</a></p>
        <p><a href="{% url 'reset' %}">自分のことが思い出せないのか？</a></p>
    </div>
</body>
</html>