{% extends 'templates/base.html' %}
{% load static %}

{% block title %}
<title>TopView</title>
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/topview_stylesheet.css' %}">
{% endblock css %}

{% block content %}

<div class="header">
    <span><a href="{% url 'logout' %}">冒険を終了する</a></span>
    <span><a href="{% url 'setting' %}">設定画面</a></span>
</div>

<div class="container">
    <ul>
        <p>こんにちは{{user}}さん</p>
        <p>今日も勉強頑張りましょう!!</p>
        {% for reward in object_list %}
            {% if reward.username == user %}
                <div>
                    <span>
                        報酬 : {{reward.reward}}
                    </span>
                    <span>
                        必要時間 : {{reward.reward_required_time}}
                    </span>
                </div>
            {% endif %}
        {% endfor %}
        {% for time in study_time %}
            {% if time.username == user %}
                <p>合計学習時間</p>
                {{time.total_time}}
            {% endif %}
        {% endfor %}
    </ul>
    {% block js %}
    <script src="{% static 'js/decide_current_reward.js' %}"></script>
    {% endblock js %}
</div>

<div class="footer"></div>

{% endblock content%}